.destination-card {
  min-height: 300px;
  border-radius: 1rem;
  overflow: hidden;
}
.destination-img {
  z-index: 1;
  opacity: 0.85;
  transition: transform 0.5s;
}
.destination-card:hover .destination-img {
  transform: scale(1.1);
  opacity: 1;
}
.card-img-overlay {
  z-index: 2;
  border-radius: 1rem;
}
