.offer-card {
  min-height: 220px;
  border-radius: 1rem;
  overflow: hidden;
}
.offer-img {
  z-index: 1;
  opacity: 0.85;
  transition: transform 0.5s;
}
.offer-card:hover .offer-img {
  transform: scale(1.05);
  opacity: 1;
}
.card-img-overlay {
  z-index: 2;
  border-radius: 1rem;
}
